body {
	
}
#tablero {
	position: relative;
	width: 600px;
	height: 600px;
	border:1px solid #333333;
	background-color:#FFFFFF;
	margin: 40px auto;
} 
[class*="cuadro"]{
	position: absolute;
	width: 75px;
	height: 75px;
}
[class*="white"]{
	background-color: white;
}
[class*="black"]{
	background-color: burlywood;
}
[id*="piece"]{
	position: absolute;
	left: 14px;
	top: 5px;
	font-size: 50px;
}
.cuadroa8white {
	left: 0px;
	top: 0px;
}
.cuadrob8black {
	left: 75px;
	top: 0px;
}
.cuadroc8white {
	left: 150px;
	top: 0px;
}
.cuadrod8black {
	left: 225px;
	top: 0px;
}
.cuadroe8white {
	left: 300px;
	top: 0px;
}
.cuadrof8black {
	left: 375px;
	top: 0px;
}
.cuadrog8white {
	left: 450px;
	top: 0px;
}
.cuadroh8black {
	left: 525px;
	top: 0px;
}
.cuadroa7black {
	left: 0px;
	top: 75px;
}
.cuadrob7white {	
	left: 75px;
	top: 75px;
}
.cuadroc7black {
	left: 150px;
	top: 75px;
}
.cuadrod7white {
	left: 225px;
	top: 75px;
}
.cuadroe7black {
	left: 300px;
	top: 75px;
}
.cuadrof7white {
	left: 375px;
	top: 75px;
}
.cuadrog7black {
	left: 450px;
	top: 75px;
}
.cuadroh7white {
	left: 525px;
	top: 75px;
}
.cuadroa6white {
	left: 0px;
	top: 150px;
}
.cuadrob6black {
	left: 75px;
	top: 150px;
}
.cuadroc6white {
	left: 150px;
	top: 150px;
}
.cuadrod6black {
	left: 225px;
	top: 150px;
}
.cuadroe6white {
	left: 300px;
	top: 150px;
}
.cuadrof6black {
	left: 375px;
	top: 150px;
}
.cuadrog6white {
	left: 450px;
	top: 150px;
}
.cuadroh6black {
	left: 525px;
	top: 150px;
}
.cuadroa5black {
	left: 0px;
	top: 225px;
}
.cuadrob5white {
	left: 75px;
	top: 225px;
}
.cuadroc5black {
	left: 150px;
	top: 225px;
}
.cuadrod5white {
	left: 225px;
	top: 225px;
}
.cuadroe5black {
	left: 300px;
	top: 225px;
}
.cuadrof5white {
	left: 375px;
	top: 225px;
}
.cuadrog5black {
	left: 450px;
	top: 225px;;
}
.cuadroh5white {
	left: 525px;
	top: 225px;
}
.cuadroa4white {
	left: 0px;
	top: 300px;
}
.cuadrob4black {
	left: 75px;
	top: 300px;
}
.cuadroc4white {
	left: 150px;
	top: 300px;
}
.cuadrod4black {
	left: 225px;
	top: 300px;
}
.cuadroe4white {
	left: 300px;
	top: 300px;
}
.cuadrof4black {
	left: 375px;
	top: 300px;
}
.cuadrog4white {
	left: 450px;
	top: 300px;
}
.cuadroh4black {
	left: 525px;
	top: 300px;
}
.cuadroa3black {
	left: 0px;
	top: 375px;
}
.cuadrob3white {
	left: 75px;
	top: 375px;
}
.cuadroc3black {
	left: 150px;
	top: 375px;
}
.cuadrod3white {
	left: 225px;
	top: 375px;
}
.cuadroe3black {
	left: 300px;
	top: 375px;
}
.cuadrof3white {
	left: 375px;
	top: 375px;
}
.cuadrog3black {
	left: 450px;
	top: 375px;
}
.cuadroh3white {
	left: 525px;
	top: 375px;
}
.cuadroa2white {
	left: 0px;
	top: 450px;
}
.cuadrob2black {
	left: 75px;
	top: 450px;
}
.cuadroc2white {
	left: 150px;
	top: 450px;
}
.cuadrod2black {
	left: 225px;
	top: 450px;
}
.cuadroe2white {
	left: 300px;
	top: 450px;
}
.cuadrof2black {
	left: 375px;
	top: 450px;
}
.cuadrog2white {
	left: 450px;
	top: 450px;
}
.cuadroh2black {
	left: 525px;
	top: 450px;
}
.cuadroa1black {
	left: 0px;
	top: 525px;
}
.cuadrob1white {
	left: 75px;
	top: 525px;
}
.cuadroc1black {
	left: 150px;
	top: 525px;
}
.cuadrod1white {
	left: 225px;
	top: 525px;
}
.cuadroe1black {
	left: 300px;
	top: 525px;
}
.cuadrof1white {
	left: 375px;
	top: 525px;
}
.cuadrog1black {
	left: 450px;
	top: 525px;
}
.cuadroh1white {
	left: 525px;
	top: 525px;
}